:root {
    --imperial-red: #ff3232;
    --honeydew: #e6f5f7;
    --powder-blue: #77d3f1;
    --gold: rgb(255, 187, 86);
    --prussian-blue: #0e2229;
}

header {
    text-align: center;
    display: block;
    margin-top: 1%;

}

header a:link,
a:visited {
    color: var(--honeydew);
    text-decoration: none;
}

header a:hover {
    color: var(--imperial-red);
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding-top: 0 !important;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Sora, sans-serif;
    background-color: var(--prussian-blue);
    color: var(--honeydew);
    font-size: 90%;
}

.resumeText {
    column-count: 2;
    column-gap: 1em;
    column-rule: 1px solid var(--powder-blue);
}

h1 {
    text-align: center;
    color: var(--imperial-blue);
    font-size: 2.5em;
}

.divider {
    border-top: 1px solid var(--gold);
    display: block;
    margin: 1em 0;
}

#profile_picture {
    margin-top: 5%;
    width: 20%;
    height: 30%;
    margin-left: 40%;
    display: block;
    margin-bottom: 2%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    align-self: center;
}

h2 {
    font-size: 125%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--gold);
}

h3 {
    font-weight: 800;
    font-size: 150%;
    color: var(--powder-blue);
    margin-top: 10px;
    margin-bottom: 10px;
}

section p:first-child,
#publications {
    font-size: 125%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--gold);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 30px;
}

#city{
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--gold);
}
#link {
    text-decoration: none;
    font-size: 17pt;
}
header:not(h1) {
    color: var(--powder-blue);
    font-size: 2em;
}

h1{
    color: var(--powder-blue);
    font-size: 1.2em;
}

#link:hover {
    color: rgb(255, 0, 0);
}

.column:not(:last-child) {
    border-right: 1px solid var(--honeydew);
}

h3,
p,
li,
ul {
    margin: .5em;
}

.p:first-child {
    padding-top: 25px;
}

.education p:not(:first-child),
.Certification p:not(:first-child) {
    margin-left: 30px;
}

.certification #date,
.certification #describtion {
    margin-left: 30px;
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
      }
    .column:not(:last-child) {
        border-right: none;
    }
}
@media screen and (min-width: 1200px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
    .column {
        padding-left: 40px;
        padding-right: 40px;
    }
}
body {
    width: 21cm;    min-height: 29.7cm;
    padding-top: 0 !important;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}
@media print {
    .page {
        size:   A4;
        margin: 0;
    }
}
